<!--FOOTER-BUTTON-->
<div class="button footer-button">
	<a href="../../index.html#header"><img src="assets/images/ico-arrow.svg" alt="botón para ir a Inicio"></a>
</div>

<!--FOOTER-CONTAIN-->
<footer role="contentinfo" class="footer">
	<div class="footer__list">
		<ul class="menu-list">
			<li>Articles</li>
			<li>Books</li>
			<li>Events</li>
			<li>Reasons</li>
			<li>Tips</li>
		</ul>
		<ul class="social-list">
			<li>Twitter</li>
			<li>Instagram</li>
			<li>Mastodon.Social</li>
		</ul>
	</div>
	<div class="footer__copyright">
		<p class="year">&copy;2017</p>
		<p class="copyright_text">we <span class="heart">&#x2764;</span> components</p>
	</div>
</footer>