.tips-button {
  margin-bottom: 45px;
  font-family: $bodyFont;
  font-weight: $medium;
  font-size: $mobileMainButton;
  border-radius: 22.5px;
  color: $orange;
  border: solid 2px $orange;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px; 
  height: 45px;
  @include tablet {
    margin-bottom: 60px;
    width: 91px;}
  @include desktop {
    width: 160px;}
}

.reasons-button {
  border-radius: 22.5px;
  background-color: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px; 
  height: 45px;
  margin: auto;
  .button-link {
    color: #fff;
    font-family: $bodyFont;
    font-weight: $medium;
    font-size: $mobileMainButton;
    text-align: center;
    line-height: 45px;
    text-transform: capitalize;
  }
  @include tablet {
    width: 210px;}
  @include desktop {
    width: 255px;}

}

.footer-button {
  margin: auto;
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -23px;
  text-align: center;
}