.hero {
  height: 100vh;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    &__container {
      max-width: 290px;
      height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      color: $white;
      @include tablet {
        max-width: 690px;}
      .hero__title {
        font-size: $mobileHeroTitle;
        font-family: $titleFont;
        display: inline-block;
        text-transform: uppercase;
        @include tablet {
          font-size: $tabletHeroTitle;}
        @include desktop {
          font-size: $desktopHeroTitle;}
      }
      .hero__claim {
        font-family: $bodyFont;
        font-size: $mobileHeroClaim;
        display: inline-block;
        margin-top: 10px;
        .capitalize {
          text-transform: capitalize;
        }
        @include tablet {
          margin-top: 20px;
          font-size: $tabletHeroClaim;}
        @include desktop {
          margin-top: 0;}
      }
    }
}
