//Colors
$colorPrimary: #fff;
$colorSecondary: #4a4a4a;
$colorTertiary: #f26002;
$colorQuaternary: #000;
$colorQuinary:#8ccbea;
$backgroundReasons: #eff9ff;
$backgroundFooter: #304268;
$buttonBackground: #0271bc;

//Fonts
$titleFont: 'Roboto Slab', serif;
$bodyFont: 'Roboto', sans-serif;

//Font-weights
$bold: 700;
$regular: 400;
$medium: 500;

//Font-sizes

/*---LINE-HEIGHT---*/

/*---HERO-TITLE---*/
$mobileHeroTitle: 2.625rem;
$tabletHeroTitle: 5rem;
$desktopHeroTitle: 6.25rem;

/*---HERO-CLAIM---*/
$mobileHeroClaim: 1rem;
$tabletHeroClaim: 1.5rem;

/*---MAIN-2M----*/
$mobileMainCategory: 0.875rem;
$mobileMainTitle: 1.5rem;
$mobileMainDescription: 1.125rem;
$mobileMainButton: 1.25rem;

$tabletMainTitle: 1.625rem;
$tabletMainDescription: 1.25rem;

$desktopMainCategory: 1rem;

/*---MAIN-3M---*/
$mobileReasons: 1.125rem;

$tabletReasonsTitle: 1.625rem;
$tabletReasonsSubtitle: 1.5rem;
$tabletReasonsDescription: 1.25rem;

$desktopReasonsTitle: 2rem;

/*---FOOTER---*/
$mobileListFooter: 1rem;
$mobileCopyrightFooter: 0.875rem;

