 
//Colors
$white: #fff;
$grey: #4a4a4a;
$orange: #f26002;
$black: #000;
$clearBlue:#8ccbea;
$backgroundReasons: #eff9ff;
$backgroundFooter: #304268;
$buttonBackground: #0271bc;

//Fonts
$titleFont: 'Roboto Slab', serif;
$bodyFont: 'Roboto', sans-serif;

//Font-weights
$bold: 700;
$regular: 400;
$medium: 500;

//Font-sizes

/*---LINE-HEIGHT---*/

/*---HERO-TITLE---*/
$mobileHeroTitle: 42px;
$tabletHeroTitle: 80px;
$desktopHeroTitle: 100px;

/*---HERO-CLAIM---*/
$mobileHeroClaim: 16px;
$tabletHeroClaim: 24px;

/*---MAIN-2M----*/
$mobileMainCategory: 14px;
$mobileMainTitle: 24px;
$mobileMainDescription: 18px;
$mobileMainButton: 20px;

$tabletMainTitle: 26px;
$tabletMainDescription: 20px;

$desktopMainCategory: 16px;

/*---MAIN-3M---*/
$mobileReasons: 18px;

$tabletReasonsTitle: 26px;
$tabletReasonsSubtitle: 24px;
$tabletReasonsDescription: 20px;

$desktopReasonsTitle: 32px;

